html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 1em;

    font-size: 150%;
    line-height: 150%;
}

#editor {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 1em;
}

#writer {
    width: 100%;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;

    height: 1em;
    color: #424242;
}

#footer a {
    color: #212121;
}

#footer #options {
    float: left;
}

#footer #notice {
    text-align: right;
}
