body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#content {
    font-size: 150%;
    line-height: 150%;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;

    background-color: #efefef;
}
#footer #options {
    float: left;
}

#footer #notice {
    text-align: right;
}
