html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 1em;
}

#header a {
    color: #212121;
}

#header #options {
    min-width: 200px;
    float: left;
}

#header #notice {
    min-width: 400px;
    text-align: right;
}

#outerwrapper {
	height: 100%;
    width: 100%;
    min-width: 600px;
}

#innerwrapper {
    height: 100%;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    display: table;
}

#content {
    height: 100%;
    float: left;
    font-size: 150%;
    line-height: 150%;
}

#content h1, h2, h3, h4, h5, h6 {
    line-height: 125%;
}

#editor {
    height: 100%;
    width: 40%;
    float: right;
}

#editor #writer {
    height:80%;
    width:100%;
    resize: none;
}

#editor #links {
    text-align: right;
}

#editor #links a {
    color: #212121;
}
